@media (min-width: 768px) {
  .mobile-navigation {
    display: none;
  }
}

.mobile-header-nav {
  background-color: #2F2FA2;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100px;
  width: 100%;
}

.mobile-header-nav li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.mobile-header-nav li a {
  color: white;
  display: block;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.mobile-header-nav li a:hover {
  background-color: #3535b6;
}

.hamburger-menu {
  display: inline-block;
  height: 100px;
  padding: 35px 25px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hamburger-menu:hover {
  cursor: pointer;
}

.hamburger-menu .menu-item {
  background: #ffffff;
  display: block;
  height: 3px;
  margin: 0 0 6px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 25px;
}

.hamburger-menu.open .menu-item {
  margin: 0 0 5px;
}

.hamburger-menu.open .menu-item:first-child {
  -webkit-transform: rotate(46deg);
  -ms-transform: rotate(46deg);
  transform: rotate(46deg);
  -webkit-transform-origin: 1px;
  -ms-transform-origin: 1px;
  transform-origin: 1px;
}

.hamburger-menu.open .menu-item:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.open .menu-item:nth-child(3) {
  -webkit-transform: rotate(-46deg);
  -ms-transform: rotate(-46deg);
  transform: rotate(-46deg);
  -webkit-transform-origin: 2px;
  -ms-transform-origin: 2px;
  transform-origin: 2px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  position: relative;
}

.wrapper-wide, .wrapper, .crypto-wrapper {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.wrapper, .crypto-wrapper {
  max-width: 900px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex.space-btw {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.flex.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

a {
  text-decoration: none;
}

header {
  height: 100px;
  background: #2F2FA2;
  color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

header a {
  color: #ffffff;
}

.logo {
  max-width: 155px;
  width: 100%;
}

.logo a {
  display: block;
  padding: 20px 0;
}

.login-btn {
  width: 45px;
  height: 45px;
}

.navigation {
  height: 100%;
  max-width: 800px;
  width: 100%;
}

.navigation ul {
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.navigation li {
  height: 100%;
  display: inline-block;
  margin-right: -4px;
}

.navigation a {
  display: block;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 20px;
  font-weight: 300;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.navigation a:hover {
  background: #BCBCF9;
  color: #2F2FA2;
}

.navigation a.active {
  background: #BCBCF9;
  color: #2F2FA2;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}

.navigation a.socials:hover {
  background: none;
}

.navigation a.socials:hover img {
  opacity: 0.7;
}

.social-logo {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  fill: #2F2FA2;
}

footer {
  background: #BCBCF9;
  color: #ffffff;
  font-size: 12px;
}

.footer-inner {
  padding: 50px 0;
}

.copyright {
  min-height: 50px;
  background: #2F2FA2;
}

.copyright p {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
}

.footer-left {
  max-width: 360px;
  width: 100%;
  color: #2F2FA2;
}

.footer-left p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}

.subscribe-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn-subscribe {
  max-width: 120px;
  width: 100%;
  height: 40px;
  background: #2F2FA2;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.btn-subscribe:hover {
  background: #2F2FA2;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.btn-subscribe:hover:hover {
  background: #24247a;
}

input[type='email'] {
  background: transparent;
  border: none;
  height: 40px;
  max-width: 220px;
  width: 100%;
  font-size: 12px;
  border: 2px solid #2F2FA2;
  border-radius: 25px;
  padding: 0 20px;
}

input[type='email']::-webkit-input-placeholder {
  color: #2F2FA2;
  font-size: 12px;
}

input[type='email']:-ms-input-placeholder {
  color: #2F2FA2;
  font-size: 12px;
}

input[type='email']::-ms-input-placeholder {
  color: #2F2FA2;
  font-size: 12px;
}

input[type='email']::placeholder {
  color: #2F2FA2;
  font-size: 12px;
}

.footer-right {
  max-width: 600px;
  width: 100%;
  font-size: 12px;
}

.footer-socials span {
  margin-right: 20px;
}

.footer-socials a.socials {
  width: 23px;
  height: 23px;
  display: block;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.footer-socials a.socials.tradeview {
  background: url(../images/tradeview-blue.svg) no-repeat center center;
}

.footer-socials a.socials.tradeview:hover {
  background: url(../images/tradeview.svg) no-repeat center center;
}

.footer-socials a.socials.twitter {
  background: url(../images/twitter-blue.svg) no-repeat center center;
}

.footer-socials a.socials.twitter:hover {
  background: url(../images/twitter.svg) no-repeat center center;
}

.footer-socials a.socials.telegram {
  background: url(../images/telegram-blue.svg) no-repeat center center;
}

.footer-socials a.socials.telegram:hover {
  background: url(../images/telegram.svg) no-repeat center center;
}

.email-to {
  text-transform: lowercase !important;
  text-decoration: none !important;
}

.footer-nav li {
  margin-bottom: 15px;
  color: #2F2FA2;
  font-weight: 500;
}

.footer-nav a {
  text-transform: uppercase;
  color: #2F2FA2;
  font-weight: 500;
}

.footer-nav a:hover {
  text-decoration: underline;
}

#home {
  height: 100vh;
  background: url(../images/hero.png) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  position: relative;
  background-attachment: fixed;
}

#home::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-size: cover;
}

.home-content {
  max-width: 620px;
  width: 100%;
  z-index: 2;
}

.home-headline {
  font-size: 50px;
  line-height: 60px;
  font-weight: black;
  color: #ffffff;
  margin-bottom: 20px;
}

.home-sub-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 20px;
}

.home-btn {
  display: inline-block;
  max-width: 155px;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  background: lightgrey;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
  font-size: 14px;
}

.home-btn.btn-green {
  background: #78D82E;
  border: none;
}

.home-btn.btn-green:hover {
  background: #78D82E;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.home-btn.btn-green:hover:hover {
  background: #60b221;
}

.home-btn.btn-red {
  background: #F2385C;
  border: none;
}

.home-btn.btn-red:hover {
  background: #F2385C;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.home-btn.btn-red:hover:hover {
  background: #e80f39;
}

.home-btns .btn-green {
  margin-right: 20px;
}

#keeper {
  padding: 60px 0;
  background: #2F2FA2;
  color: #ffffff;
}

#keeper p {
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

.section-arrow {
  position: relative;
}

.section-arrow::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  background: #2F2FA2;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0;
  right: 0;
  margin: auto;
  bottom: -10px;
  z-index: 2;
}

.section-title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

#our-service {
  padding: 70px 0 150px;
  background: #f4f4fa;
}

#our-service.section-arrow::after {
  background: #f4f4fa;
}

#our-service .section-title {
  color: #2F2FA2;
}

#our-service .sec-sub-title {
  padding: 0 50px;
  margin-bottom: 70px;
}

.sec-sub-title {
  font-weight: 900;
}

.service-list li {
  max-width: 280px;
  width: 100%;
  min-height: 420px;
  background: rgba(47, 47, 162, 0.1);
  color: #2F2FA2;
  margin-right: 5px;
  padding: 10px;
}

.service-list li:last-child {
  margin-right: 0;
}

.service-logo {
  height: 220px;
}

.services-logo-img {
  width: 130px;
  height: 130px;
}

.service-content h4 {
  font-size: 16px;
  text-align: center;
  font-weight: 900;
  margin-bottom: 15px;
}

.service-content p {
  line-height: 24px;
  font-weight: 300;
  text-align: center;
}

#our-results {
  color: #2F2FA2;
  padding-top: 70px;
  background: #E1E0EF;
}

#our-results .sec-sub-title {
  margin-bottom: 15px;
}

.chart-section {
  padding: 50px 0;
  position: relative;
}

.chart-slider-section {
  padding: 30px 0 100px;
  background: #ffffff;
}

.our-results__sub-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.close-btn {
  top: 10px;
  position: absolute;
  right: 10px;
  color: #ffffff;
  cursor: pointer;
}

#gdata {
  max-width: 1035px;
  width: 100%;
  margin: 0 auto;
}

#gdata input {
  text-align: center;
  color: #2F2FA2;
  border: none;
  cursor: pointer;
}

.g-data-box, .g-data-btn {
  width: 100%;
  height: 45px;
  margin: 0 5px;
  border: 1px solid rgba(47, 47, 162, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.g-data-box #lft, .g-data-btn #lft {
  max-width: 75px;
  width: 100%;
  height: 100%;
  background: rgba(47, 47, 162, 0.1);
  border-right: 1px solid rgba(47, 47, 162, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.g-data-box #fnt, .g-data-btn #fnt {
  font-size: 14px;
  font-weight: 900;
  text-transform: capitalize;
}

.g-data-box #btn, .g-data-btn #btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
  background: rgba(120, 216, 46, 0.4);
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.g-data-box #btn:hover, .g-data-btn #btn:hover {
  background: rgba(120, 216, 46, 0.6);
}

.g-data-box #dintext, .g-data-btn #dintext {
  font-weight: 900;
  font-size: 16px;
}

.g-data-box.currency, .currency.g-data-btn {
  max-width: 50px;
}

.g-data-box.currency #currencyPicker, .currency.g-data-btn #currencyPicker {
  background: #C2E8A7;
  border: none;
  width: 100%;
  font-size: 20px;
  color: #2F2FA2;
}

.g-data-box.input-value, .input-value.g-data-btn {
  max-width: 100px;
}

.g-data-box.input-value input, .input-value.g-data-btn input {
  width: 100%;
  cursor: default !important;
  font-size: 16px;
  font-weight: 700;
}

.g-data-box input[type=number]::-webkit-inner-spin-button, .g-data-btn input[type=number]::-webkit-inner-spin-button,
.g-data-box input[type=number]::-webkit-outer-spin-button,
.g-data-btn input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.g-data-box.btc-cal, .btc-cal.g-data-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 212px;
  width: 100%;
}

.g-data-box.btc-cal > div, .btc-cal.g-data-btn > div {
  width: 55px;
}

.g-data-box.sum-cal, .sum-cal.g-data-btn {
  max-width: 212px;
  width: 100%;
}

.g-data-box.datepick, .datepick.g-data-btn {
  max-width: 200px;
  width: 100%;
}

.g-data-box.datepick input, .datepick.g-data-btn input {
  max-width: 125px;
  width: 100%;
  font-weight: 700;
  font-size: 16px;
}

.btc-cal__sum-money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 110px;
}

.btc-cal__yield {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #C2E8A7;
  width: 50px;
}

.yield-txt {
  margin-bottom: 3px;
  font-size: 10px;
}

.yield-btc {
  font-size: 16px;
  font-weight: 700;
}

.btc-cal__sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #E0E0F1;
  border-left: 1px solid rgba(47, 47, 162, 0.4);
  border-right: 1px solid rgba(47, 47, 162, 0.4);
  width: 50px;
}

.btc-cal__sum-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 100px;
}

.sum-number__percentage {
  font-size: 16px;
  font-weight: 700;
}

#btcCalc, #moneyCalc {
  font-weight: 700;
  font-size: 18px;
}

.g-data-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 170px;
  width: 100%;
}

#control {
  margin-top: 15px;
}

#crypto-market {
  min-height: 900px;
  background: #2F2FA2;
  position: relative;
  overflow: hidden;
  color: #ffffff;
  position: relative;
}

#crypto-market::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background: url(../images/hero_graphic.svg) no-repeat center center;
  background-size: cover;
}

#crypto-market h3 {
  font-size: 35px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 30px;
}

#crypto-market h2 {
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

#crypto-market .crypto-content {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 70px;
}

.crypto-subscribe {
  display: none;
  max-width: 400px;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(188, 188, 249, 0.95);
  z-index: 10;
  color: #2F2FA2;
  padding: 30px 40px;
}

.crypto-subscribe input[type='email'] {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
  text-align: center;
  color: #2F2FA2;
}

.crypto-subscribe input[type='email']::-webkit-input-placeholder {
  font-size: 12px;
}

.crypto-subscribe input[type='email']:-ms-input-placeholder {
  font-size: 12px;
}

.crypto-subscribe input[type='email']::-ms-input-placeholder {
  font-size: 12px;
}

.crypto-subscribe input[type='email']::placeholder {
  font-size: 12px;
}

.crypto-subscribe button {
  display: block;
  max-width: 100%;
  font-size: 12px;
  text-transform: uppercase;
}

.crypto-subscribe button:hover {
  background: #2F2FA2;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.crypto-subscribe button:hover:hover {
  background: #24247a;
}

.subs-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
}

.subs-close:hover {
  opacity: 0.8;
}

.crypto-subscribe-title {
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.crypto-subscribe-subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}

.private-policy {
  font-size: 9px;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
}

.crypto-wrapper {
  max-width: 1000px;
  height: auto;
  z-index: 4;
}

.perc-box {
  max-width: 305px;
  width: 100%;
  height: 320px;
  margin-right: 10px;
  opacity: 0.9;
}

.perc-box:last-child {
  margin-right: 0;
}

.perc-box.perc-bg-blue {
  background: #bcbcf9;
}

.perc-box.perc-bg-blue.perc-box-btm p {
  color: #2F2FA2;
}

.perc-box.perc-bg-green {
  background: #78D82E;
}

.perc-box.perc-bg-red {
  background: #F2385C;
}

.perc-box-top {
  height: 220px;
}

.perc-number {
  font-size: 125px;
  font-weight: 900;
  color: #ffffff;
  position: relative;
}

.perc-number::before {
  content: '%';
  display: block;
  position: absolute;
  font-size: 50px;
  right: -30px;
  top: -25px;
  opacity: 0.7;
}

.perc-box-btm {
  height: 100px;
  background: rgba(255, 255, 255, 0.5);
}

.perc-box-btm p {
  max-width: 240px;
  padding: 0 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 24px;
}

.perc-box.perc-bg-blue .perc-box-btm p {
  color: #2F2FA2;
}

.perc-box.perc-bg-red .perc-box-btm p {
  color: #F2385C;
}

.perc-box.perc-bg-green .perc-box-btm p {
  color: #78D82E;
}

#brochure {
  height: 600px;
  background: url(../images/brochure.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.brochure-box {
  max-width: 800px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: rgba(47, 47, 162, 0.8);
}

.brochure-box h2 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  margin-bottom: 20px;
}

.brochure-download {
  max-width: 180px;
  width: 100%;
  height: 55px;
  text-transform: uppercase;
  color: #ffffff;
  background: #78D82E;
  display: block;
  line-height: 55px;
  text-align: center;
  margin: 0 auto;
  font-weight: 900;
}

.brochure-download:hover {
  background: #78D82E;
  -webkit-transition: all .1s ease;
  -o-transition: all .1s ease;
  transition: all .1s ease;
}

.brochure-download:hover:hover {
  background: #60b221;
}

.footer-headline {
  display: none;
}

.cc-banner .cc-message {
  color: #2F2FA2;
}

@media (max-width: 768px) {
  .service-list ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: space-evenly !important;
    -ms-flex-pack: space-evenly !important;
    justify-content: space-evenly !important;
  }
  .service-list li {
    margin-bottom: 30px;
  }
  #our-service {
    padding-bottom: 100px;
  }
  .gdata-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .gdata-wrap > div {
    margin-bottom: 10px;
  }
  .gdata-wrap > div:last-child {
    margin-bottom: 0;
  }
  .footer-nav {
    padding: 0 5px;
  }
}

@media (max-width: 414px) {
  header {
    height: 80px;
  }
  .hamburger-menu {
    height: 80px;
    padding: 25px;
  }
  .mobile-header-nav {
    top: 80px;
  }
  #home {
    padding-top: 70px;
  }
  .home-content {
    padding: 0 10px;
  }
  .home-headline {
    font-weight: 300;
    font-size: 44px;
  }
  .home-sub-title {
    font-size: 18px;
    line-height: 24px;
  }
  .home-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .home-btns .btn-green {
    margin-right: 5px;
  }
  #keeper p {
    text-align: left;
  }
  .section-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }
  #our-service {
    padding: 50px 0;
  }
  #our-service .sec-sub-title {
    padding: 0;
  }
  .service-list ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .service-list li {
    margin-bottom: 15px;
  }
  .service-list li:last-child {
    margin-bottom: 0;
  }
  #our-results {
    padding: 50px 0;
  }
  .our-results__sub-title {
    text-align: left;
    font-size: 14px;
  }
  .chart-slider-section {
    display: none;
  }
  .gdata-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .gdata-wrap > div {
    margin-bottom: 10px;
  }
  .gdata-wrap > div:last-child {
    margin-bottom: 0;
  }
  .chart-section {
    padding: 20px 0;
  }
  #crypto-market {
    padding: 50px 0;
  }
  #crypto-market h3, #crypto-market h2 {
    text-align: left;
  }
  #crypto-market h3 {
    margin-bottom: 15px;
  }
  #crypto-market h2 {
    font-size: 32px;
    line-height: 38px;
  }
  #crypto-market .crypto-content {
    text-align: left;
  }
  .crypto-subscribe {
    display: none;
  }
  #counter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .perc-box {
    margin: 0;
    margin-bottom: 20px;
  }
  .perc-box:last-child {
    margin-bottom: 0;
  }
  .footer-inner {
    padding: 0;
  }
  .footer-inner .wrapper-wide, .footer-inner .wrapper, .footer-inner .crypto-wrapper {
    padding: 0 !important;
  }
  .footer-inner > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer-left {
    max-width: 100%;
    padding: 40px 20px;
  }
  .footer-nav {
    display: none;
  }
  .footer-nav.footer-contact {
    display: block;
  }
  .footer-nav.footer-contact li, .footer-nav.footer-contact a {
    color: #ffffff;
  }
  .form-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .form-wrap input[type="email"] {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .form-wrap input[type="email"]::-webkit-input-placeholder {
    text-align: center;
  }
  .form-wrap input[type="email"]:-ms-input-placeholder {
    text-align: center;
  }
  .form-wrap input[type="email"]::-ms-input-placeholder {
    text-align: center;
  }
  .form-wrap input[type="email"]::placeholder {
    text-align: center;
  }
  .form-wrap .btn-subscribe {
    max-width: 100%;
  }
  .footer-right {
    background: #2F2FA2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 20px 0 20px;
    text-align: center;
  }
  .footer-socials {
    margin-bottom: 30px;
    max-width: 140px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .footer-socials > span {
    margin-right: 0;
  }
  .footer-headline {
    display: block;
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 900;
  }
  .kaylin-star {
    color: #78D82E;
  }
  a.socials.tradeview {
    background: url(../images/tradeview.svg) no-repeat center center !important;
  }
  a.socials.tradeview:hover {
    opacity: .7;
  }
  a.socials.twitter {
    background: url(../images/twitter.svg) no-repeat center center !important;
  }
  a.socials.twitter:hover {
    opacity: .7;
  }
  a.socials.telegram {
    background: url(../images/telegram.svg) no-repeat center center !important;
  }
  a.socials.telegram:hover {
    opacity: .7;
  }
}

@media (max-width: 320px) {
  .home-headline {
    font-size: 32px;
    line-height: 34px;
  }
  #crypto-market h2 {
    font-size: 30px;
  }
  .brochure-box {
    padding: 50px 10px;
  }
  .brochure-box h2 {
    font-size: 36px;
    line-height: 40px;
  }
}
