$blue: #2F2FA2;
$blue-light: #BCBCF9;
$white: #ffffff;
$green: #78D82E;
$red: #F2385C;

// fonts
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// transition
$transition: all .1s ease;

// mixins
@mixin hover-btn($color) {
  background: $color;
  transition: all .1s ease;

  &:hover {
    background: darken($color, 10%);
  }
}
