@import 'variables';
@import 'mobile-nav';

* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  min-height: 100vh;
  position: relative;
}

.wrapper-wide {
  max-width: 1220px;
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  height: 100%;
}

.wrapper {
  @extend .wrapper-wide;
  max-width: 900px;
}

.flex {
  display: flex;

  &.space-btw {
    justify-content: space-between;
  }

  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }
}

a {
  text-decoration: none;
}

// HEADER
header {
  height: 100px;
  background: $blue;
  color: $white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);

  a {
    color: $white;
  }
}

.logo {
  max-width: 155px;
  width: 100%;

  a {
    display: block;
    padding: 20px 0;
  }
}

.login-btn {
  width: 45px;
  height: 45px;
}

.navigation {
  height: 100%;
  max-width: 800px;
  width: 100%;

  ul {
    height: 100%;
    justify-content: flex-end;
  }

  li {
    height: 100%;
    display: inline-block;
    margin-right: -4px;
  }

  a {
    display: block;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-weight: $light;
    font-size: 12px;
    font-weight: $regular;
    color: $white;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
      background: $blue-light;
      color: $blue;
    }

    &.active {
      background: $blue-light;
      color: $blue;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}

.navigation a.socials:hover {
  background: none;

  img {
    opacity: 0.7;
  }
}

.social-logo {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  fill: $blue;
}

// FOOTER
footer {
  background: $blue-light;
  color: $white;
  font-size: 12px;
}

.footer-inner {
  padding: 50px 0;
}

.copyright {
  min-height: 50px;
  background: $blue;

  p {
    color: $white;
    font-size: 12px;
    font-weight: $light;
  }
}

.footer-left {
  max-width: 360px;
  width: 100%;
  color: $blue;

  p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
}

.subscribe-title {
  font-size: 14px;
  line-height: 18px;
  font-weight: $bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.btn-subscribe {
  max-width: 120px;
  width: 100%;
  height: 40px;
  background: $blue;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;

  &:hover {
    @include hover-btn($blue);
  }
}

input[type='email'] {
  background: transparent;
  border: none;
  height: 40px;
  max-width: 220px;
  width: 100%;
  font-size: 12px;
  border: 2px solid $blue;
  border-radius: 25px;
  padding: 0 20px;

  &::placeholder {
    color: $blue;
    font-size: 12px;
  }
}

.footer-right {
  max-width: 600px;
  width: 100%;
  font-size: 12px;
}

.footer-socials {
  span {
    margin-right: 20px;
  }

  a.socials {
    width: 23px;
    height: 23px;
    display: block;
    transition: $transition;

    &.tradeview {
      background: url(../images/tradeview-blue.svg) no-repeat center center;

      &:hover {
        background: url(../images/tradeview.svg) no-repeat center center;
      }
    }

    &.twitter {
      background: url(../images/twitter-blue.svg) no-repeat center center;

      &:hover {
        background: url(../images/twitter.svg) no-repeat center center;
      }
    }

    &.telegram {
      background: url(../images/telegram-blue.svg) no-repeat center center;

      &:hover {
        background: url(../images/telegram.svg) no-repeat center center;
      }
    }
  }
}

.email-to {
  text-transform: lowercase !important;
  text-decoration: none !important;
}

.footer-nav {
  li {
    margin-bottom: 15px;
    color: $blue;
    font-weight: $medium;
  }

  a {
    text-transform: uppercase;
    color: $blue;
    font-weight: $medium;

    &:hover {
      text-decoration: underline;
    }
  }
}

// HOME
#home {
  height: 100vh;
  background: url(../images/hero.png) no-repeat center center;
  background-size: cover;
  padding-top: 100px;
  position: relative;
  background-attachment: fixed;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    // background: url(../images/hero_graphic.svg) no-repeat center center;
    background-size: cover;
  }
}

.home-content {
  max-width: 620px;
  width: 100%;
  z-index: 2;
}

.home-headline {
  font-size: 50px;
  line-height: 60px;
  font-weight: black;
  color: $white;
  margin-bottom: 20px;
}

.home-sub-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: $light;
  color: $white;
  margin-bottom: 20px;
}

.home-btn {
  display: inline-block;
  max-width: 155px;
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border: none;
  border-radius: 25px;
  background: lightgrey;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  transition: $transition;
  font-size: 14px;

  &.btn-green {
    background: $green;
    border: none;

    &:hover {
      @include hover-btn($green);
    }
  }

  &.btn-red {
    background: $red;
    border: none;

    &:hover {
      @include hover-btn($red);
    }
  }
}

.home-btns {
  .btn-green {
    margin-right: 20px;
  }
}

// KEEPER
#keeper {
  padding: 60px 0;
  background: $blue;
  color: $white;

  p {
    line-height: 24px;
    font-weight: $light;
    text-align: center;
  }
}

.section-arrow {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    background: $blue;
    border-radius: 10px;
    transform: rotate(45deg);
    left: 0;
    right: 0;
    margin: auto;
    bottom: -10px;
    z-index: 2;
  }
}

.section-title {
  font-size: 36px;
  line-height: 46px;
  margin-bottom: 30px;
  font-weight: $light;
  text-align: center;
  text-transform: uppercase;
}

// OUR SERVICE
#our-service {
  padding: 70px 0 150px;
  background: #f4f4fa;

  &.section-arrow::after {
    background: #f4f4fa;
  }

  .section-title {
    color: $blue;
  }

  .sec-sub-title {
    padding: 0 50px;
    margin-bottom: 70px;
  }
}

.sec-sub-title {
  font-weight: $black;
}

.service-list {
  li {
    max-width: 280px;
    width: 100%;
    min-height: 420px;
    background: rgba(47, 47, 162, 0.1);
    color: $blue;
    margin-right: 5px;
    padding: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.service-logo {
  height: 220px;
}

.services-logo-img {
  width: 130px;
  height: 130px;
}

.service-content {
  h4 {
    font-size: 16px;
    text-align: center;
    font-weight: $black;
    margin-bottom: 15px;
  }

  p {
    line-height: 24px;
    font-weight: $light;
    text-align: center;
  }
}

// OUR RESULTS
#our-results {
  color: $blue;
  padding-top: 70px;
  background: #E1E0EF;

  .sec-sub-title {
    margin-bottom: 15px;
  }
}

.chart-section {
  padding: 50px 0;
  position: relative;
}

.chart-slider-section {
  padding: 30px 0 100px;
    background: $white;
}

.our-results__sub-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: $light;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.close-btn {
  top: 10px;
  position: absolute;
  right: 10px;
  color: $white;
  cursor: pointer;
}

#gdata {
  max-width: 1035px;
  width: 100%;
  margin: 0 auto;

  input {
    text-align: center;
    color: #2F2FA2;
    border: none;
    cursor: pointer;
  }
}

.g-data-box {
  // max-width: 245px;
  width: 100%;
  height: 45px;
  margin: 0 5px;
  border: 1px solid rgba(47, 47, 162, 0.4);
  display: flex;

  #lft {
    max-width: 75px;
    width: 100%;
    height: 100%;
    background: rgba(47, 47, 162, 0.1);
    border-right: 1px solid rgba(47, 47, 162, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #fnt {
    font-size: 14px;
    font-weight: $black;
    text-transform: capitalize;
  }

  #btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: $black;
    cursor: pointer;
    background: rgba(120, 216, 46, 0.4);
    transition: $transition;

    &:hover {
      background: rgba(120, 216, 46, 0.6);
    }
  }

  #dintext {
    font-weight: $black;
    font-size: 16px;
  }

  &.currency {
    max-width: 50px;

    #currencyPicker {
      background: #C2E8A7;
      border: none;
      width: 100%;
      font-size: 20px;
      color: $blue;
    }
  }

  &.input-value {
    max-width: 100px;

    input {
      width: 100%;
      cursor: default !important;
      font-size: 16px;
      font-weight: $bold;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.btc-cal {
    display: flex;
    max-width: 212px;
    width: 100%;

    > div {
      width: 55px;
    }
  }

  &.sum-cal {
    max-width: 212px;
    width: 100%;
  }

  &.datepick {
    max-width: 200px;
    width: 100%;

    input {
      max-width: 125px;
      width: 100%;
      font-weight: $bold;
      font-size: 16px;
    }
  }

}

.btc-cal__sum-money {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 110px;
}

.btc-cal__yield {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #C2E8A7;
  width: 50px;
}

.yield-txt {
  margin-bottom: 3px;
  font-size: 10px;
}

.yield-btc {
  font-size: 16px;
  font-weight: $bold;
}

.btc-cal__sum {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E0E0F1;
  border-left: 1px solid rgba(47, 47, 162, 0.4);
  border-right: 1px solid rgba(47, 47, 162, 0.4);
  width: 50px;
}

.btc-cal__sum-number {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
}

.sum-number__percentage {
  font-size: 16px;
  font-weight: $bold;
}

#btcCalc {
  font-weight: $bold;
  font-size: 18px;
}

#moneyCalc {
  @extend #btcCalc;
}

.g-data-txt {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 170px;
  width: 100%;
}

.g-data-btn {
  @extend .g-data-box;
}

#control {
  margin-top: 15px;
}

// CRYPTO MARKET
#crypto-market {
  min-height: 900px;
  background: $blue;
  position: relative;
  overflow: hidden;
  color: $white;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    background: url(../images/hero_graphic.svg) no-repeat center center;
    background-size: cover;
  }

  h3 {
    font-size: 35px;
    font-weight: $light;
    text-align: center;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 40px;
    font-weight: $black;
    text-align: center;
    margin-bottom: 30px;
  }

  .crypto-content {
    font-size: 14px;
    line-height: 24px;
    font-weight: $light;
    text-align: center;
    margin-bottom: 70px;
  }
}

.crypto-subscribe {
  display: none;

  max-width: 400px;
  width: 100%;
  height: 250px;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(188, 188, 249, 0.95);
  z-index: 10;
  color: $blue;
  padding: 30px 40px;

  input[type='email'] {
    display: block;
    max-width: 100%;
    margin-bottom: 10px;
    text-align: center;
    color: $blue;

    &::placeholder {
      font-size: 12px;
    }
  }

  button {
    display: block;
    max-width: 100%;
    font-size: 12px;
    text-transform: uppercase;

    &:hover {
      @include hover-btn($blue);
    }
  }
}

.subs-close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 16px;
  color: $white;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.crypto-subscribe-title {
  font-size: 26px;
  line-height: 30px;
  font-weight: $bold;
  text-align: center;
  text-transform: uppercase;
}

.crypto-subscribe-subtitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: $light;
  text-align: center;
  margin-bottom: 15px;
}

.private-policy {
  font-size: 9px;
  text-align: center;
  font-weight: $light;
  margin-top: 20px;
}

.crypto-wrapper {
  @extend .wrapper;
  max-width: 1000px;
  height: auto;
  z-index: 4;
}

.perc-box {
  max-width: 305px;
  width: 100%;
  height: 320px;
  margin-right: 10px;
  opacity: 0.9;

  &:last-child {
    margin-right: 0;
  }

  &.perc-bg-blue {
    background: #bcbcf9;

    &.perc-box-btm p {
      color: $blue;
    }
  }

  &.perc-bg-green {
    background: $green;
  }

  &.perc-bg-red {
    background: $red;
  }
}

.perc-box-top {
  height: 220px;
}

.perc-number {
  font-size: 125px;
  font-weight: $black;
  color: $white;
  position: relative;

  &::before {
    content: '%';
    display: block;
    position: absolute;
    font-size: 50px;
    right: -30px;
    top: -25px;
    opacity: 0.7;
  }
}

.perc-box-btm {
  height: 100px;
  background: rgba(255, 255, 255, 0.5);

  p {
    max-width: 240px;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: $black;
    line-height: 24px;
  }
}

.perc-box {
  &.perc-bg-blue .perc-box-btm p {
    color: $blue;
  }

  &.perc-bg-red .perc-box-btm p {
    color: $red;
  }

  &.perc-bg-green .perc-box-btm p {
    color: $green;
  }
}

// BROCHURE
#brochure {
  height: 600px;
  background: url(../images/brochure.jpg) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.brochure-box {
  max-width: 800px;
  width: 100%;
  padding: 50px;
  margin: 0 auto;
  background: rgba(47, 47, 162, 0.8);

  h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: $black;
    color: $white;
    text-align: center;
    margin-bottom: 20px;
  }
}

.brochure-download {
  max-width: 180px;
  width: 100%;
  height: 55px;
  text-transform: uppercase;
  color: $white;
  background: $green;
  display: block;
  line-height: 55px;
  text-align: center;
  margin: 0 auto;
  font-weight: $black;

  &:hover {
    @include hover-btn($green);
  }
}

.footer-headline {
  display: none;
}

// COOKIE CONSTENT POPUP
.cc-banner .cc-message {
  color: $blue;
}

// RESPONSIVE
@import 'media';
