@media (max-width: 768px) {
  .service-list {

    ul {
      flex-wrap: wrap;
      justify-content: space-evenly !important;
    }

    li {
      margin-bottom: 30px;
    }
  }

  #our-service {
    padding-bottom: 100px;
  }

  .gdata-wrap {
    flex-direction: column;
    align-items: center;

    > div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer-nav {
    padding: 0 5px;
  }



}

@media (max-width: 414px) {

  header {
    height: 80px;
  }

  .hamburger-menu {
    height: 80px;
    padding: 25px;
  }

  .mobile-header-nav {
    top: 80px;
  }

  #home {
    padding-top: 70px;
  }

  .home-content {
    padding: 0 10px;
  }

  .home-headline {
    font-weight: $light;
    font-size: 44px;
  }

  .home-sub-title {
    font-size: 18px;
    line-height: 24px;
  }

  .home-btns {
    display: flex;

    .btn-green {
      margin-right: 5px;
    }
  }

  #keeper {

    p {
      text-align: left;
    }
  }

  .section-title {
    text-align: left;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  #our-service {
    padding: 50px 0;

    .sec-sub-title {
      padding: 0;
    }
  }

  .service-list {

    ul {
      flex-direction: column;
      align-items: center;
    }

    li {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  #our-results {
    padding: 50px 0;
  }

  .our-results__sub-title {
    text-align: left;
    font-size: 14px;
  }

  // DISPLAY NONE
  .chart-slider-section {
    display: none;
  }

  .gdata-wrap {
    flex-direction: column;
    align-items: center;

    > div {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  // DISPLAY NONE

  .chart-section {
    padding: 20px 0;
  }


  #crypto-market {
    padding: 50px 0;

    h3, h2 {
      text-align: left;
    }
    h3 {
      margin-bottom: 15px;
    }

    h2 {
      font-size: 32px;
      line-height: 38px;
    }

    .crypto-content {
      text-align: left;
    }
  }

  .crypto-subscribe {
    display: none;
  }

  #counter {
    flex-direction: column;
    align-items: center;
  }

  .perc-box {
    margin: 0;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .footer-inner {
    padding: 0;

    .wrapper-wide {
      padding: 0 !important;
    }

    > div {
      flex-direction: column;
      align-items: center;
    }
  }

  .footer-left {
    max-width: 100%;
    padding: 40px 20px;
  }

  .footer-nav {
    display: none;

    &.footer-contact {
      display: block;

      li, a {
        color: $white;
      }
    }
  }

  .form-wrap {
    flex-direction: column;
    align-items: center;

    input[type="email"] {
      max-width: 100%;
      margin-bottom: 20px;

      &::placeholder {
        text-align: center;
      }
    }

    .btn-subscribe {
      max-width: 100%;
    }
  }

  .footer-right {
    background: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px 0 20px;
    text-align: center;
  }

  .footer-socials {
    margin-bottom: 30px;
    max-width: 140px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    > span {
      margin-right: 0;
    }
  }

  .footer-headline {
    display: block;
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: $black;
  }

  .kaylin-star {
    color: $green;
  }

  a.socials {

    &.tradeview {
      background: url(../images/tradeview.svg) no-repeat center center !important;

      &:hover {
        opacity: .7;
      }
    }

    &.twitter {
      background: url(../images/twitter.svg) no-repeat center center !important;

      &:hover {
        opacity: .7;
      }
    }

    &.telegram {
      background: url(../images/telegram.svg) no-repeat center center !important;

      &:hover {
        opacity: .7;
      }
    }
  }

}

@media (max-width: 320px) {
  .home-headline {
    font-size: 32px;
    line-height: 34px;
  }

  #crypto-market h2 {
    font-size: 30px;
  }

  .brochure-box {
    padding: 50px 10px;
  }

  .brochure-box h2 {
    font-size: 36px;
    line-height: 40px;
  }

}
